{% extends 'base.html' %}
{% block content %}

<script src="https://kit.fontawesome.com/a6a48ad58a.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<div class = "header">
  <h3>Welcome back {{request.user}}!</h3>   
    <div class="login">
      {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
      {% else %}
          <a href="{% url 'login' %}">Zaloguj</a>
      {% endif %}
    </div>
</div>

<div class="menu">
    <ul>
      <li><a href="{% url 'posts' %}"><span class="material-symbols-outlined">
        home
        </span></a></li>
      <li><a href="{% url 'albums' %}"><span class="material-symbols-outlined">
        photo_library
        </span></a></li>
      <li>
    </ul>
  </div>

  <div class="posts-container">
<div class="container">
    <h1>Comments</h1>   
        <!-- komentarze -->
         {% for comment in comments %}
            <div class="comment">
            <p><i class="fa fa-envelope"></i> {{ comment.email }}</p>
            <h4>{{ comment.name }}</h4>
            <p>{{ comment.body }}</p>                 
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
</div>
  </div>
{% endblock %}
